  .switch label input[type=checkbox]:checked+.lever {
    background-color: transparent !important
}

  .switch label .lever:before {
    background-color: #fff8e1
}

.switch label input[type=checkbox]:checked+.lever:after {
    background-color: #25170ecb !important;
}